*{
  margin: 0;
}
.allbooks, .createnew{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  padding:30px;

}
form div{
  margin:10px;
  text-align: center;
}
button{
  text-align:center;
  justify-content:center;
  
}
.navbar{
  display:flex;
  background: purple;
  color: gold;
  justify-content: center;
  height: 70px;
  align-items: center;
}
.bookcontainer{
  /* border:blue solid; */
  /* height: 30px;
  width: 50px; */
}