@import url('https://fonts.googleapis.com/css?family=Cherry+Swash:700&display=swap');
*{
  margin: 0;
  text-decoration: none;
  font-family: 'Cherry Swash', cursive;
}
body{
  background: black;
}
.allbooks, .allkids{
  text-align: center;
  background: url('img/back4.jpg');
  min-height: 80vh; 
  width: 100%;
  color: #F8C315;
}
.color{
  color: #F8C315;
}
.Home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid purple;
}
.homesecs{
  display: flex;
  text-align: center;
  height: 200px;
  width: 500px;
  background: white;
  margin: 40px;
  font-size: 3em;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
.show{
  margin: 0 20%;
  padding: 35px;
  background: #F8C315;
  color: white;
  height: 100%;
  border: solid white;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px -1px 16px purple ;
}
.show img{
  height: 300px;
  width: 250px;

}
.showcontainer{
  margin: 0;
  background: url('img/back4.jpg');
  height: 100%;
  /* width: 100%; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* border: solid white; */
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:20px;

}
form label{
  padding: 15px;
  text-align: center;
  font-size: 2em;
}
form input, form textarea{
  height: 50px;
  width: 290px;
  font-size: 1.2em;
  margin-top: 15px;
  border-radius: 15px;
}

button{
  /* text-align:center; */
  justify-content:left;
  height: 50px;
  /* width: 150px; */
  font-size: 1.2em;
  border-radius: 15px;
  
}
.navbar{
  display:flex;
  background: #F8C315;
  color: black;
  justify-content: space-around;
  height: 15vh;
  align-items: center;
  font-family: 'Cherry Swash', cursive;
  font-size: 1.7em;
  border-bottom: solid purple 5pt;
  border-radius:10px;
  top:0;
  position: sticky;
}
.navbar h1{
  /* border: solid; */
  /* padding: 0 auto; */
  line-height: .8;
  font-size: 4rem;
  width: fit-content;
  /* margin: 0 auto; */
  color: purple;
  text-shadow: 5px 5px 1px black;
}
#navlink{
  font-size: .7em;
  /* border: solid */
}
.navbar img{
  height: 50px;
}
.footer{
  display:flex;
  background: black;
  color: #F8C315;
  justify-content: space-around;
  height: 25vh;
  align-items: center;
}
.bookcontainer, .kidcontainer{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  padding:30px;
  /* border: solid white; */
  color: white;
  width:100;
}
.updatebutton{
  background: #F8C315;
  color: black;
  border-radius: 15px;
  height: 40px;
  font-size: 1em;
  width: 150px;
  margin-top: 15px;
}
.single{
  margin: 15px;
  padding: 35px;
  background: #F8C315;
  color: black;
  height:320px;
  width: 320px;
  border-radius: 45px;
  box-shadow: 1px -1px 16px purple ;
}
.single img{
  height: 200px;
  width: 150px;
  border: solid white;
  margin: 10px 0;
}
 .createnew{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin: 0;
  background: url('img/back.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #F8C315;
}
.buttons{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 15px;
}
.create, .deleteall {
background: purple;
border-radius: 15px;
margin: 10px 10%;
padding: 30px 0;
color: black;
font-size: 1.3em;
width: 40%;
box-shadow: 1px -1px 10px #F8C315;

}
.createbutton{
  background: black;
  border: none;
  color: #F8C315;
  border-radius: 15px;
  height: 30px;
  font-size: 1em;
  
  /* float: center;
  justify-content: center; */
  
}
.createbutton:hover{
  background: white;
  color: black;
  box-shadow: purple 4px 4px 30px 
}